__pycache__/
/backend/__pycache__/
vscode/
/backend/commands/__pycache__/
/backend/commands/utils/__pycache__/
misc/
venv/
.env
/chat/.env
.DS_Store
*.ipynb
.ipynb_checkpoints/

logs/tgbot.log
.coverage

backend/commands/outputs/ai
backend/commands/outputs/holders
backend/commands/outputs/overview
backend/commands/outputs/token_creation_info
backend/commands/outputs/trending
backend/commands/outputs/top_holders_holdings*.json
